*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    max-width: 100%;
    height: 100%;
}
.main{
    max-width: 100%;
    height: 800px;
    margin-top: 50px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    gap: 80px;
    
}
.toha{
    font-weight: bold;
}
button{
    width: 80px;
    height: 40px;
    background-color: blanchedalmond;
    font-weight: 900;
}
button:hover{
    cursor: pointer;
    background-color: rgb(244, 105, 7);
    width: 90px;

}
#inp{
    width: 190px;
    height: 50px;
    font-size: large;
    padding: 12px;
}
#behav{
    width: 360px;
    height: 50px;
    font-size: large;
    padding: 10px;
}
#num{
    width: 180px;
    height: 45px;
    font-size: large;
    padding: 12px;
}
#sub{
    width: 160px;
    height: 40px;
    font-size: large;
    background-color: darkgoldenrod;
    padding: 10px;
}
#sub:hover{
    cursor: pointer;
    background-color: rgb(236, 75, 16);
    font-size: larger;
    width: 190px;
}

.reset{
    font-size: large;
}


.right{
    margin-top: 170px;

}
#newbt{
    width: 200px;
    height: 40px;
}

#normal:hover{
    cursor: pointer;
    font-size: large;
}